<div>
  <% @post.each do |post| %>
  <div>
    <article>
      <h2>
        <a href="#"><%= post.title %></a>
      </h2>
      <p>
        <span><%= post.description %>
      </p>
        
      <%= link_to "show" , post_path(post) %>
      <%= link_to "Edit" %>
      <%= link_to "Delete" %>
  </div>
  <% end %>
</div>
      
<li>
  <%= link_to "Post", posts_path %>
</li>