<div class="container">

  <header class="jumbotron my-4">
    <h1 class="display-3">Most Hit!!</h1>
    <p class="lead">This is Most Hit</p>
    <a href="#" class="btn btn-primary btn-lg">More!!</a>
  </header>

  <div class= "row">
    <% @post.each do |post| %>
      <%= link_to post_path(post), class:"text-dark", style:"text-decoration: none;" do %>
        <div class= "col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            
            <div class="card-body">
              <h4 class="card-title text-decoration-none"><%= post.title %></h4>
              <h6 class="card-subtitle mb-2 text-muted ">Category</h6>
              <br>
              <!--<img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image"> -->
              <p class="card-text">
                <%= post.description %>
              </p>
              <br>
              
              <p class="text-muted">
                by
                <a href="#" class="author">
                <% if !post.user.nil? %>
                  <%=post.user.email %>
                <% else %>
                  신원미상
                <% end %>
                </a>
              </p>
              <div class="d-flex position-relative align-middle justify-content-start">
                <% if !post.user.nil? && !current_user.nil? %>
                  <% if  current_user.id == post.user_id %>
                    <%= link_to "Edit" , edit_post_path(post)%>  &nbsp; 
                    <%= link_to "Delete", post_path(post), method: "DELETE" %>  &nbsp; 
                  <% end %>
                <% end %>
                <%= render partial:"posts/shared/toggle_like.html.erb", class:"position-relative justify-content-end", locals: {object: post} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>

<div class="d-flex justify-content-end">
    <%= button_to "Post", new_post_path , {method: :get , class:"btn btn-primary btn-lg"} %>
</div>
