<h1>Show page</h1>


<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @post.id %>
    <td><%= @post.title %>
    <td><%= @post.description %>
  </tr>
  </tbody>
</table>


<%= button_to "수정", edit_post_path(@post.id), {method: :get, class:"btn btn-dark d-flex justify-content-end" }%>
<%= button_to "삭제", post_path(@post.id), {method: :delete ,class:"btn btn-dark d-flex justify-content-end"} %>

