<h1>Show page</h1>


<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @post.id %>
    <td><%= @post.title %>
    <td><%= @post.description %>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-end">
  <% if !@post.user.nil? && !current_user.nil? %>
    <% if  current_user.id == @post.user_id %>
      <%= button_to "Edit" , edit_post_path(@post.id), {method: :get, class:"btn btn-dark" }%>  &nbsp; 
      <%= button_to "Delete", post_path(@post.id), {method: :delete, class:"btn btn-dark"} %>  &nbsp; 
    <% end %>
  <% end %>
</div>

<h3>댓글 <span id="comments-count" style="color:red" value=<%=@comments.count%>><%= @comments.count %></span></h3>  <!-- 추후 업뎃 -->

<hr>

<ul id="comments">
  <% @comments.each do |comment| %>
    <div id="<%=comment.id%>-comment">
      <%= render partial:"comments/show.html.erb", class:"", locals: {comment: comment} %>
    </div>
  <% end %>
</ul>


<div class ="container">
  <br/>
  <h3>댓글 작성</h3>

  <%= form_for Comment.new, url: post_comments_path(@post.id),remote: true do |f| %>
    
    <%= f.text_area :content, class: "form-control", placeholer: "content" %><br/>
    <%= f.hidden_field :post_id, class: "form-control", value: @post.id %>
    <% if !current_user.nil? %>
      <%= f.hidden_field :user_id, class: "form-control", value: current_user.id %><br/>
    <% end %>
    <%= f.submit "Comment", class:"btn btn-primary" %>
  <% end %>
</div>


