<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/666ab0c979.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top text-white mt-auto" style="font-size:1.1rem;">

      <div class="d-lg-none">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>



      </div>
      
      <%= link_to root_path, class:"navbar-brand font-weight-bold fas fa-gem d-flex justify-content-between text-danger",style:"font-size: 2em;" do %>
      <% end %>

      <div class="align-content-center justify-content-end wider-992">
        <a href="#"><span style ="color:white; font-size:1.5em;"><i class="fas fa-bell"></i></span></a> &nbsp; &nbsp;
      </div>

      <div class ="collapse navbar-collapse position-relative" id="navbarResponsive">
        <div class="flex-self-stretch flex-lg-self-auto mr-0 mr-lg-3 mb-3 mb-lg-0 d-flex align-items-center align-self-center my-auto">
          <form><fieldset><input type="search" /><button type="submit" class="search"><i class="fa fa-search"></i></button></fieldset></form>
        </div>
    
        <div class="navbar-nav position-relative text-white ">
          <%= link_to "Posts", posts_path, class:"nav-link text-white" %>
          <a class="nav-link text-white" href="#">About</a>
          <a class="nav-link text-white" href="#">Services</a>
          <a class="nav-link text-white" href="#">Contact</a> 
        </div>
      </div>

      
      <div class ="collapse navbar-collapse position-relative justify-content-end">
        <div class="navbar-nav align-content-center align-middle">
          <div class="align-content-center justify-content-end narrower-992" >
            <a href="#"><span style ="color:white; font-size:1.25em;"><i class="fas fa-bell"></i></span></a> &nbsp; &nbsp;
          </div>
        </div>
      </div>
      <div class="positive-relative justify-content-end narrower-992">
        <strong class="align-content-center">
          <% if current_user %>
            <div class="nav-item" style="margin:3px">
              <%= link_to do %><span style="color:white !important;"><%= current_user.email %></span><% end %>  &nbsp; &nbsp;
              <%= link_to "Sign out", destroy_user_session_path, method: :delete , style:"color:white !important;" %>
            </div>
            <% else %>
              <div class="nav-item" style="margin:3px">
                <%= link_to "Sign in", new_user_session_path, style:"color:white !important;"%>  &nbsp; &nbsp;
                <%= link_to "Sign up", new_user_registration_path, style:"color:white !important;" %>
              </div>
          <% end %>
        </strong>
      </div>
    </nav>

    <%= yield %>

    <footer class="py-3 bg-dark fixed-bottom">
      <div>
        <p class="m-0 text-center text-white">Copyright &copy; Doroddong</p>
      </div>
    </footer>

    
  </body>
</html>
