<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <li>
        <span style="color:red !important;"><%= current_user.email %>
      </li>
      <li>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, style: "color:red !important;" %>
      </li>
      <% else %>
        <li>
          <%= link_to "Sign in", new_user_session_path, style:"color:red !important;" %>
          <%= link_to "Sign up", new_user_registration_path, style:"color:red !important;" %>
        </li>
    <% end %>


    <%= yield %>
  </body>
</html>
